html {
  background-color: #e4e5f9;
  font-family: "微软雅黑", SimHei, sans-serif;
}

.container {
  width: 1333px;
  /*margin: 0 auto;*/
}
.header-img > img {
  width: 100%;
  border-bottom: 4px solid #D2D0D1;
}
