<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>淘书网</title>
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/detail.css">
  </head>
  <body>
    <div class="container">
      <%- include("./header.ejs") %>
      <div class="func-area">

      </div>
      <%- include("./footer.ejs") %>
    </div>
  </body>
  <script src="/js/global.js"></script>
  <script src="/js/search.js"></script>
</html>
