<footer>
  <ul class="footer-link-ul">
    <li><a href="#">关于我们</a></li>
    <li><a href="#">联系我们</a></li>
    <li><a href="#">合作招商</a></li>
    <li><a href="#">友情链接</a></li>
    <li><a href="#">隐私政策</a></li>
  </ul>
  <p>版权所有 &copy; 2017-2018 淘书网 保留所有权利 地址：南京市龙蟠路159号</p>
</footer>
