<header>
  <div class="header-img">
    <img src="/images/book.jpg" alt="首页头图">
  </div>
  <div class="header-title">
    <div class="logo" id="logo">
      淘书网
    </div>
    <div class="search">
      <form class="search-form" action="index.html" method="post">
        <input type="search" name="search-book" id="search-book" value="<%= search %>">
        <button type="button" name="search-button" id="search-button">查询</button>
      </form>
    </div>
    <div class="cart">
      <button type="button" name="my-cart">我的购物车</button>
    </div>
  </div>
</header>
