<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>淘书网</title>
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <div class="container">
      <%- include("./header.ejs")%>
      <div class="func-area">
        <nav>
          <h1>图书分类</h1>
          <ul>
            <li><a href="/list/type/1">计算机</a></li>
            <li><a href="/list/type/2">英语</a></li>
            <li><a href="/list/type/3">文学</a></li>
            <li><a href="/list/type/4">经济</a></li>
            <li><a href="/list/type/5">管理</a></li>
            <li><a href="/list/type/6">政治</a></li>
            <li><a href="/list/type/7">哲学</a></li>
            <li><a href="/list/type/8">数学</a></li>
            <li><a href="/list/type/9">物理</a></li>
            <li><a href="/list/type/10">化学</a></li>
            <li><a href="/list/type/11">生物</a></li>
            <li><a href="/list/type/12">地理</a></li>
            <li><a href="/list/type/13">体育</a></li>
            <li><a href="/list/type/14">音乐</a></li>
            <li><a href="/list/type/15">儿童读物</a></li>
            <li><a href="/list/type/16">教辅类</a></li>
          </ul>
        </nav>
        <div class="new-book">
          <div class="new-book-title">
            <img src="/images/newbook.gif" alt="新书上架">
          </div>
          <div class="book-list">
            <div class="book">
              <img src="/images/刺杀骑士团长.jpg" alt="刺杀骑士团长">
              <p class="book-title">刺杀骑士团长</p>
              <p class="author">[日]村上春树 著</p>
              <p class="price">￥98.00</p>
            </div>
            <div class="book">
              <img src="/images/别让好脾气害了你.jpg" alt="别让好脾气害了你">
              <p class="book-title">别让好脾气害了你</p>
              <p class="author">周维丽 著</p>
              <p class="price">￥39.80</p>
            </div>
            <div class="book">
              <img src="/images/此刻花开之纸上花园.jpg" alt="此刻花开之纸上花园">
              <p class="book-title">此刻花开之纸上花园</p>
              <p class="author">徐静 著</p>
              <p class="price">￥78.00</p>
            </div>
            <div class="book">
              <img src="/images/流量池.jpg" alt="流量池">
              <p class="book-title">流量池</p>
              <p class="author">杨飞 著</p>
              <p class="price">￥68.00</p>
            </div>
            <div class="book">
              <img src="/images/五百年来王阳.jpg" alt="五百年来王阳">
              <p class="book-title">五百年来王阳</p>
              <p class="author">郦波 著</p>
              <p class="price">￥98.00</p>
            </div>
            <div class="book">
              <img src="/images/彩绘中华传统故事.jpg" alt="彩绘中华传统故事">
              <p class="book-title">彩绘中华传统故事</p>
              <p class="author">任溶溶 主编</p>
              <p class="price">￥320.00</p>
            </div>
            <div class="book">
              <img src="/images/中国传统节日故事图.jpg" alt="中国传统节日故事图">
              <p class="book-title">中国传统节日故事图</p>
              <p class="author">高洪波等 著</p>
              <p class="price">￥154.00</p>
            </div>
            <div class="book">
              <img src="/images/清单人生.jpg" alt="清单人生">
              <p class="book-title">清单人生</p>
              <p class="author">[瑞典]弗雷德里克·巴克曼</p>
              <p class="price">￥42.00</p>
            </div>
          </div>
        </div>
        <aside>
          <% if(user == ''){ %>
          <div class="login">
            <h1>用户登陆</h1>
            <div>
              <p>
                <label for="username">用户名：</label>
                <input type="text" name="username" id="username" value="">
              </p>
              <p>
                <label for="password">密码：</label>
                <input type="password" name="password" id="password" value="">
              </p>

              <div class="login-button">
                <button id="login">登陆</button>
                <button id="register">注册</button>
              </div>
            </div>
          </div>
          <% } else { %>
            <h1>hi, <%= user %><br>欢迎回淘书网！</h1>
          <% } %>
          <div class="news">
            <div class="news-header">
              <h2>公告</h2>
              <p>更多</p>
            </div>
            <ul class="news-list">
              <li>淘书网会员权益更新及会费调整</li>
              <li>淘书网启用全新客服电话“950618”</li>
              <li>京东物流推出配送员统一外呼电话“95056”</li>
              <li>积分大不同 直接当钱用！积分支付上线啦！</li>
              <li>淘书网阅读器，海量电子书任意读</li>
              <li>30万图书每满150减50</li>
              <li>新书特惠，电子书每满30减10</li>
              <li>话费卡兑换淘书网礼品卡</li>
            </ul>
          </div>
        </aside>
        </div>
        <%- include("./footer.ejs")%>
      </div>
    </div>
  </body>
  <script src="/js/setCookie.js"></script>
  <script src="/js/sha256.js"></script>
  <script src="/js/search.js"></script>
  <script src="/js/global.js"></script>
  <% if(user == ''){ %>
    <script src="/js/index.js"></script>
  <% } %>
</html>
