<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>新用户注册</title>
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/register.css">
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header-img">
          <img src="/images/book.jpg" alt="首页头图">
        </div>
        <hr>
      </header>
      <div class="reg">
        <div class="reg-header">
          <h1>新用户注册</h1>
          <a href="/">淘书网首页</a>
        </div>
        <form action="/api/register" method="post">
          <label for="phone">手机号码
            <input type="tel" name="phone" pattern="[0-9]{11}" required>
          </label>
            <p class="desp">手机号可用于登录、找回密码、接收订通知等服务</p>
          <label for="password">登录密码
            <input type="password" name="password" pattern="[A-Za-z0-9]{6,12}" required>
          </label>
          <p class="desp">包含大写字母、小写字母和数字的6~12个字符</p>
          <label for="confirm">确认密码
            <input type="password" name="confirm" pattern="[A-Za-z0-9]{6,12}" required>
          </label>
          <p>
            <input type="checkbox" name="accept" value="true" checked><span class="license-checkbox">我已阅读同意《淘书网交易条款》和《淘书网社区条款》</span>
          </p>
          <div class="reg-button">
            <button>立即注册</button>
          </div>
        </form>
      </div>
    </div>
    <hr class="footer-hr">
    <div class="container">
      <footer>
        <ul class="footer-link-ul">
          <li><a href="#">关于我们</a></li>
          <li><a href="#">联系我们</a></li>
          <li><a href="#">合作招商</a></li>
          <li><a href="#">友情链接</a></li>
          <li><a href="#">隐私政策</a></li>
        </ul>
        <p>版权所有 &copy; 2017-2018 淘书网 保留所有权利 地址：南京市龙蟠路159号</p>
      </footer>
    </div>
  </body>
</html>
