.header-title {
  display:flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin: 26px 0;
}
.logo {
  margin:  2px auto auto 52px;
  color: #f41e1c;
  font-family: "华文新魏",sans-serif;
  font-size: 2rem;
}
.search {
  margin: 0 auto 0 82px;
}
.search-form > input {
  width: 506px;
  height: 38px;
  border: 2px solid #8997B2;
}
.search-form > button {
  background-color: #fd0304;
  height: 35px;
  margin: -2px auto auto -5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  width: 61px;
  line-height: 1.2rem;
}
.cart {
  margin: 0 72px 4px auto;
}
.cart > button {
  height: 30px;
  width: 150px;
  color: #eb1419;
  border: none;
  background-color: white;
  font-size: 1.1rem;
  line-height: 1.1rem;
}
.func-area {
  margin-top: 32px;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
nav {
  flex: 0 0 200px;
  border-top: 1px solid white;
}
nav > h1 {
  color: #22842C;
  font-weight: normal;
  margin: 15px auto 9px auto;
}
nav > ul {
  margin-top: -5px;
  list-style-type: none;
  padding-left: 20px;
}
nav > ul > li {
  padding: 5.5px 0;
}
.new-book {
  flex: 0 0 793px;
  margin-top: 1px;
}
.book-list {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
.new-book-title > img {
  width: 100%;
}
.book {
  flex: 0 1 166px;
  margin: 9px 6px 19px 10px;
}
.book > img {
  height: 180px;
}
.book-title {
  margin: -2px 0 0 0;
  font-size: 0.94rem;
}
.author {
  margin: 0;
  font-size: 0.95rem;
  color: #747474;
}
.price {
  margin: 1px 0;
  font-size: 0.84rem;
  color: #eb1419;
  font-weight: bold;
}
aside {
  flex: 0 1 298px;
  margin-left: 42px;
  border-top: 1px solid white;
}
.login {
  padding-bottom: 5px;
}
.login > h1 {
  color: #22842C;
  font-weight: normal;
  margin: 15px auto 9px auto;
}
.login > div > p {
  display: flex;
  width: 100%;
  margin: 9px 0;
  font-size: 1.1rem;
  justify-content: space-between;
}

.login > div > p > input {
  margin: 4px 45px 0 0;
  height: 15px;
}
.login-button > button {
  margin: 0 20px;
  height: 30px;
  width: 60px;
  font-size: 1rem;
}
.news-header {
  padding-bottom: 4px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}
.news-header > h2 {
  margin: 7px 0;
  line-height: 22px;
  padding-right: 10px;
  font-weight: normal;
  font-size: 1.2rem;
  border-right: 2px solid #878787;
  height: 22px;
}
.news-header > p {
  margin: 4px 8px 0 auto;
  font-size: 1.2rem;
}
.news-list {
  list-style-type: none;
  padding-left: 0;
  margin: 2px 0;
}
.news-list > li {
  font-size: 0.91rem;
  padding: 6.4px 0;
}
